{% extends "base.html" %} {% block title %}Forgot Password{% endblock %} {%
block content %}
<style>
  body {
    background-color: #fffdd0;
  }
  .custom {
    width: 60%;
    margin: auto;
    color: black;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    background-color: lightgrey;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }
  .btn.btn-dark {
    margin-top: 1rem;
  }
  @media (min-width: 350px) and (max-width: 490px) {
    .custom {
      width: 80%;
    }
  }
  @media (min-width: 320px) and (max-width: 350px) {
    .custom {
      width: 80%;
    }
    .head {
      font-size: 1rem;
    }
    .form-control {
      font-size: 0.7rem;
    }
    .form-label {
      font-size: 0.7rem;
    }
  }
</style>
<div class="container mt-5 custom">
  <h2 class="head">Forgot Password</h2>
  <form action="{{ url_for('forgot_password') }}" method="POST">
    <div class="form-group">
      <label for="email" class="form-label">Email:</label>
      <input type="text" id="email" name="email" class="form-control" />
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li class="text-danger">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <input type="submit" value="Submit" class="btn btn-dark" />
  </form>
</div>
{% endblock %}
