{% extends "base.html" %} {% block title %} Home Page {% endblock %} {% block
content %}
<style>
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h1 {
    color: #333;
    margin-bottom: 2rem;
  }
  .button-container {
    margin-top: 3em;
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  button.btn.btn-outline-primary {
    padding: 1rem 2.8rem;
    font-size: 16px;
    text-decoration: none;
  }
  .bgimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.325;
    z-index: 1;
  }
  @media (min-width: 768px) {
    .button-container {
      flex-direction: row;
    }
    button.btn.btn-outline-primary {
      margin: 0 1rem;
    }
  }
  @media (max-width: 767px) {
    button.btn.btn-outline-primary {
      padding: 0.4rem 1rem;
      font-size: 10px;
    }
    .button-container {
      margin-top: 1.5rem;
    }
  }
</style>
<img src="{{ url_for('static',filename = 'indexbg.jpg')}}" class="bgimg" />
<h1>Welcome to the Course Registration Portal</h1>
<div class="button-container">
  <button
    type="button"
    class="btn btn-outline-primary"
    onclick="location.href='{{url_for('login')}}'"
  >
    <b>Login</b>
  </button>
  <button
    type="button"
    class="btn btn-outline-primary"
    onclick="location.href='{{url_for('signup')}}'"
  >
    <b>Sign-Up</b>
  </button>
</div>
{% endblock %}
